/* nav button{
    background-color: blue;
}

nav ul li a{
    color: red;
}

.about-link{
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

#jjj{
    color: brown;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

a{
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    padding: 20px 80px;
}


nav a{
    color: #96B4D4;
}

nav ul {
    display: flex;
    gap: 60px;
    list-style: none;

}

button {
    background-color: #31D069;
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    color: aliceblue;
}
main {
    display: flex;
    background-color: #F3F4F6;
    padding:  70px 70px;
    align-items: center;
    justify-content: space-between;
}
main div{  
      width: 500px;
}
main div h3{
    font-size: 45px
}
main div p{
    font-size: 20px ;
    margin: 13px 0;
}
main img{
    width: 500px;
}
#about{
    background-color: #FAFAFA;
    padding: 10px 10px;
}
section .hey{
    margin-left: 65px;
    margin-top: 70px;
    width: 45%;
}
section .hey h1{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 12px;
}
section  .about-div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 70px 70px;
    font-size: medium;
    gap: 50px;
}
.about-div div h4{
    padding: 15px 0;
}
#blog{
    background-color: #F3F4F6;
    padding: 70px 0;
}
#blog h1 {
    margin-left: 68px;
    color: gray;
}
 #blog .log {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 25px 70px;
    font-size: medium;
    gap: 40px
}
.log div a{
    color: black;
    padding: 2% 0;
}
.log div h3{
    margin-top: 25px;
}

.log img{
    width: 270px;
    height: 200px;
}

.log a{
    margin: 5px 0;
    display: block;
}

#index{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D314D;
    padding: 23px 25px;
    color: #96B4D4;
}
.yop {
    display: flex;
    gap: 50px;    
}

footer a{
    color: white;
}
.yop ul a{
    margin: 12px 0;
    display: block;
}
.yop ul{
    list-style: none;
 }
 .social {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 30px;
 }
#index button{
    margin: 15px 0;
    display: block;

}

   


    
    

    
    
    
    
    
    
    
    
    




    


    

    

    
    
